<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Sc.UpdateContact" description="Update Contact action items">
          <targetDataStore physicalRootPath="$(SourceFolderScUpdateContact)\src\Foundation\UpdateContact\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="Action.Definition" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Update Contact Details">
            </include>
            <include name="Action.Form" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/UpdateContact">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>